.project {
  margin: 30px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.253);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.212);
  background: linear-gradient(140deg,#24839b, #698113);

  .project-image {
    position: relative;
    background-color: black;
    border-radius: 10px;
    img {
      width: 100%;
      border-radius: 10px;
      opacity: 0.3;
    }

    .project-name {
      position: absolute;
      bottom: 50%;
      left: 0;
      right: 0;
      color: white;
      font-weight: bold;
      font-size: 1.4em;

      span {
        display: flex;
        justify-content: center;
      }
    }

    button {
      position: absolute;
      background: none;
      top: 0;
      right: 0;

      .info-container {
        background-color: rgb(170, 63, 104);
        padding: 8px 8px 15px 15px;
        border-bottom-left-radius: 100%;
        border-top-right-radius: 10px;
        
        img {
          width: 20px;
          opacity: 1;
        }
      }
      .info-container:hover {
        img {
          width: 25px;
        }
      }
    }
  }

  .project-buttons {
    display: flex;
    justify-content: center;
  }

  .project-button {
    margin: 12px;
  }
}

.project-flip {
  position: relative;
  .project-back {

    .project-image {
      background-color: black;
      border-radius: 10px;
      img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.15;
      }
  
      button {
        position: absolute;
        background: none;
        top: 0;
        right: 0;
  
        .info-container {
          background-color: rgb(170, 63, 104);
          padding: 8px 8px 15px 15px;
          border-bottom-left-radius: 100%;
          border-top-right-radius: 10px;
          
          img {
            width: 20px;
            opacity: 1;
          }
        }
        .info-container:hover {
          img {
            width: 25px;
          }
        }
      }
    }
    .project-description {
      position: absolute;
      margin: 15px;
      left: 0;
      right: 0;
      top: 50%;
      text-align: center;
      font-size: 1.1em;
      color: white;
    }
  }
}