* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: linear-gradient(45deg,#24839b, #698113);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}