@import '../../sass/base/colors';

.navbar {
  display: flex;
  justify-content: center;

  .navbar-item {
    padding: 1.2em;
    a {
      color: $black-color;
      text-decoration: none;
    }
  }
}

.navbar:hover {
  background: linear-gradient(45deg,#00000046, #4444443d);
  .navbar-item:hover {
    border-bottom: 1px solid $white-color;
    a {
      color: $white-color;
    }
  }
}